@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #B55D51;
    --color-gray-1: #4C4C4C;
    --color-gray-2: #878787;
    --color-gray-3: #A5A5A5;
    --color-gray-4: #EBEBEB;
    --color-gray-5: #F5F5F5;
    --color-light: #FFF0ED;
    --text-xs: 14px;
    --text-sm:16px;
    --text-md: 18px;
    --text-lg: 24px;
    --text-xl: 20px;
    --text-2xl: 32px;
    --text-3xl: 40px;
    --text-4xl: 48px;
    --text-5xl: 64px;

    --font-body: Roboto, sans-serif;

 
}

:root {
  
}


@layer base {
  
}

@layer components{
  .max-container {
    max-width: 1440px;
    margin: auto;
  }

}
